body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.soft-card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.soft-card {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 49%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.soft-card img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-right: 20px;
}

.soft-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.soft-card-content h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.soft-card-content p {
    font-size: 1em;
    margin-bottom: 10px;
}

.star-icons {
    font-size: 1.2em;
    color: gold;
    margin-bottom: 15px;
}

.read-more {
    padding: 10px 20px;
    background-color: #28a745;
    /* Default color */
    color: white;
    border: none;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #218838;
}

.icon-buttons {
    display: none;
    margin-top: 10px;
    justify-content: left;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.icon-buttons.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.icon-buttons a {
    text-decoration: none;
    color: white;
}

.icon-buttons button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icon-buttons .download {
    background-color: #007bff;
}

.icon-buttons .google-drive {
    background-color: #bb9603;
}

.icon-buttons .terabox {
    background-color: #4CAF50;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        flex-direction: column;
        text-align: left;
        padding: 10px;
        /* Set padding for cards in mobile view */
        margin-bottom: 10px;
        /* Add spacing between cards */
    }

    .card img {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }

    .card-content {
        width: 100%;
    }

    .icon-buttons {
        flex-direction: row;
        /* Display buttons in a row */
    }

    .icon-buttons button {
        margin-bottom: 0;
        /* Remove margin at the bottom */
    }
}